<div class="container">
	<h5>DANH MỤC</h5>
	<div class="most-poducts">
		<div class="row">
			<a href="#" class="col-md-3">
				<div class="a-product">
					<%= image_tag Product.last.images.first.url, class: 'img-product' %>
					<div>
						<p>Ốp lưng iphone CHỐNG BẨN</p>
						<p>25.000</p>
					</div>
				</div>
			</a>
			<a href="#" class="col-md-3">
				<div class="a-product">
					<%= image_tag 'products/product_1.jpeg', class: 'img-product' %>
					<div>
						<p>Ốp lưng iphone CHỐNG BẨN</p>
						<p>25.000</p>
					</div>
				</div>
			</a>
			<a href="#" class="col-md-3">
				<div class="a-product">
					<%= image_tag 'products/product_1.jpeg', class: 'img-product' %>
					<div>
						<p>Ốp lưng iphone CHỐNG BẨN</p>
						<p>25.000</p>
					</div>
				</div>
			</a>
			<a href="#" class="col-md-3">
				<div class="a-product">
					<%= image_tag 'products/product_1.jpeg', class: 'img-product' %>
					<div>
						<p>Ốp lưng iphone CHỐNG BẨN</p>
						<p>25.000</p>
					</div>
				</div>
			</a>
			<a href="#" class="col-md-3">
				<div class="a-product">
					<%= image_tag 'products/product_1.jpeg', class: 'img-product' %>
					<div>
						<p>Ốp lưng iphone CHỐNG BẨN</p>
						<p>25.000</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
			$('.a-product')
	})
</script>