<!DOCTYPE html>
<html>
  <head>
    <title>FakeShopee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>  
    <div class="container">
      <%= request.env['HTTP_SESSION']%>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value.to_s.html_safe %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
